body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
}


h1 {
    color: #ff4d4d;
    font-size: 2.5em;
    text-decoration: underline;
}


h2 {
    color: #000000;
    font-size: 2.5em;
}


h3 {
    color: #000000;
    font-size: 1.5em;
}


h4 {
    color: #000000;
    margin-bottom: 20px;
}


table {
    margin: 10px auto;
    border: 2px solid #333;
    border-collapse: collapse;
    width: 200px;
}


td {
    padding: 10px;
    font-weight: bold;
}



body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
}



table {
    margin: 10px auto;
    border: 2px solid #333;
    border-collapse: collapse;
    width: 200px;
}


td {
    padding: 10px;
    font-weight: bold;
}


form {
    text-align: left;


}
